= simple_form_for(@general_check_list) do |f|
  = f.error_notification

  .form-inputs
    = f.input :bank_request
    = f.input :ife
    = f.input :address_proof
    = f.input :birth_certificate

  .form-actions
    = f.button :submit
