= simple_form_for(@legal_person_check_list) do |f|
  = f.error_notification

  .form-inputs
    = f.input :business_statements
    = f.input :personal_statements
    = f.input :charter
    = f.input :personal_rfc
    = f.input :business_rfc
    = f.input :business_finance_registration
    = f.input :personal_finance_registration
    = f.input :annual_return
    = f.input :financial_statements

  .form-actions
    = f.button :submit
