= simple_form_for(@wage_check_list) do |f|
  = f.error_notification

  .form-inputs
    = f.input :payroll_statements
    = f.input :payslips
    = f.input :labor_letter

  .form-actions
    = f.button :submit
