= simple_form_for(@natural_person_check_list) do |f|
  = f.error_notification

  .form-inputs
    = f.input :fiscal_statements
    = f.input :finance_registration
    = f.input :rfc
    = f.input :annual_return

  .form-actions
    = f.button :submit
