= simple_form_for(@message) do |f|
  = f.error_notification

  .form-inputs
    = f.input :phone_number
    = f.input :body
    = f.input :to_date
    = f.input :to_time

  .form-actions
    = f.button :submit
