%h1 Mostrando mensajes
%h2 Enviar mensaje
%table
  %thead
    %tr
      %th Número telefónico
      %th Cuerpo del mensaje
      %th Fecha para enviar
      %th Hora para enviar
      %th
      %th
      %th

  %tbody
    - @sent_messages.each do |message|
      %tr
        %td= message.phone_number
        %td= message.body
        %td= message.to_date
        %td= message.to_time
        %td= link_to 'Mostrar', message
        %td= link_to 'Editar', edit_message_path(message)
        %td= link_to 'Eliminar', message, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

%h2 Unended Messages
%table
  %thead
    %tr
      %th Número telefónico
      %th Cuerpo del mensaje
      %th Fecha para enviar
      %th Hora para enviar
      %th
      %th
      %th

  %tbody
    - @unsent_messages.each do |message|
      %tr
        %td= message.phone_number
        %td= message.body
        %td= message.to_date
        %td= message.to_time
        %td= link_to 'Mostrar', message
        %td= link_to 'Editar', edit_message_path(message)
        %td= link_to 'Eliminar', message, :method => :delete, :data => { :confirm => '¿Estás segura?' }

%br

= link_to 'Nuevo mensaje', new_message_path
