= simple_form_for(@interaction, html: {class: "form-floating ng-pristine ng-valid"}) do |f|
  = f.error_notification
  .form-inputs
    / = f.input :kind, wrapper: :material_input , collection: Interaction::KINDS
    = f.input :date, label: false, as: :string, wrapper: :material_date, input_html: { "ng-model" => "date", placeholder: placeholder_decorator(@appointment, "Date") }
    = f.input :time, label: false, as: :string, wrapper: :material_time, input_html: { "ng-model" => "time", placeholder: placeholder_decorator(@appointment, "Time") }
    = f.input :mood, wrapper: :material_input
    = f.input :interest, wrapper: :material_input
    .form-group
      %ui-select{ng: { model: 'selected_kind.selected' }, theme: "select2", title: "Kind", 'search-enabled' => 'false'}
        %ui-select-match{placeholder: "Select kind"} {{$select.selected.name}}
        %ui-select-choices{ repeat: "item in people"}
          %div{"ng-bind-html" => "item.name" }
    = f.input :notes, wrapper: :material_text
    = f.input :client_id, wrapper: :material_input,as: :hidden, input_html: { value: params[:client_id] }
  .form-actions
    = f.button :submit,class: 'btn-primary btn'
