.card.z-depth-3
  .row
    .col-md-6
      %h3.table-title.p-20  Interacciones


  .table-responsive.white
    %table.table.table-full.table-full-small{"ng-table" => "tableParams"}
      %thead
        %tr
        %th
        %th Tipo
        %th Fecha
        %th Hora
        %th Humor
        %th Interés
        %th Usuario
        %th Cliente
        %th Observaciones
        %th
        %th
        %th

      %tbody
        - interactions.each do |interaction|
          %tr
            %td.f20
              -#still not working the icon maybe is not inported yet
              %i{class: "md #{interaction.kind_icon} #{interaction.kind_color} darken-1 icon-color"}
            %td= interaction.kind
            %td= interaction.date
            %td= interaction.time.to_s :time
            %td= interaction.mood
            %td= interaction.interest
            %td= interaction.user.fullname
            %td= interaction.client.fullname
            %td= interaction.notes
            %td= link_to 'Mostrar', interaction
            %td= link_to 'Editar', edit_interaction_path(interaction,client_id: interaction.client_id)
            %td= link_to 'Eliminar', interaction, :method => :delete, :data => { :confirm => '¿Estás segura?' }

%br

= link_to 'Nueva interacción', new_interaction_path(client_id: @client.id)
