%h1 Listing interactions

%table
  %thead
    %tr
      %th Kind
      %th Date
      %th Time
      %th Mood
      %th Interest
      %th User
      %th Client
      %th Notes
      %th
      %th
      %th

  %tbody
    - @interactions.each do |interaction|
      %tr
        %td= interaction.kind
        %td= interaction.date
        %td= interaction.time
        %td= interaction.mood
        %td= interaction.interest
        %td= interaction.user
        %td= interaction.client
        %td= interaction.notes
        %td= link_to 'Show', interaction
        %td= link_to 'Edit', edit_interaction_path(interaction,client_id: interaction.client_id)
        %td= link_to 'Destroy', interaction, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Interaction', new_interaction_path
