.card.z-depth-3
  .card-content

    %p
      %b Tipo:
      = @interaction.kind
    %p
      %b Fecha:
      = @interaction.date
    %p
      %b Hora:
      = @interaction.time
    %p
      %b Humor:
      = @interaction.mood
    %p
      %b Interés:
      = @interaction.interest
    %p
      %b Usuario:
      = @interaction.user.fullname
    %p
      %b Cliente:
      = @interaction.client.fullname
    %p
      %b Observaciones:
      = @interaction.notes
  .card-action
    = link_to 'Editar', edit_interaction_path(@interaction,client_id: @interaction.client_id)


