%tr
  -#%td= house.block
  %td= house.interior
  %td= house.prototype
  %td= in_square_meters house.land_size
  -#ammon area are meters?
  -#%td= house.common_area
  -#%td= house.undivided
  %td= house.selling_area
  %td= in_square_meters house.lot_type
  %td= in_square_meters house.land_oversize
  -#%td= number_to_currency house.proposed_price
  %td= number_to_currency house.corner
  %td= number_to_currency house.sale_price_compound
  %td= house.stage
  %td= house.production
  %td= house.status
