%section
  .page-header
    %h1
      %i{class: 'md md-home'}
      Casas
    %p.lead
      Todas las casas en Burdeos Residencial
  %div{role: 'tabpanel'}
    %ul{class: "nav nav-tabs", role: "tablist", ng: {init: "actionTab=1"}}
      -#here we can implemet the active class for the li elements but only would work for js response no html
      %li{role: "presentation"}
        = link_to houses_path(type_list: 'available'), remote: true, "ng-click" => "actionTab=1", "aria-controls" => "home", role: "tab", "data-toggle" => "tab", "aria-expanded" => "false" do
          Disponible
          .ripple-wrapper
      %li{role: "presentation"}
        = link_to houses_path(type_list: 'booked'), remote: true, "ng-click" => "actionTab=2", "aria-controls" => "home", role: "tab", "data-toggle" => "tab", "aria-expanded" => "false" do
          Apartada
          .ripple-wrapper
      %li{role: "presentation"}
        = link_to houses_path(type_list: 'sold'), remote: true, "ng-click" => "actionTab=3", "aria-controls" => "home", role: "tab", "data-toggle" => "tab", "aria-expanded" => "false" do
          Vendida
          .ripple-wrapper
    .tab-content
      .card.white
        %table.table
          %thead
            %tr
              -#%th Block
              %th Interior
              %th Prototipo
              %th Terreno
              -#%th Common area
              -#%th Undivided
              %th Superficie comercial
              %th Lote
              %th Terreno excedente
              -#%th Proposed price
              %th Esquina
              %th Precio de venta compuesto
              %th Etapa
              %th Producción
              %th Estado
          %tbody#houses
            = render partial: 'house', collection: @houses, house: :client

        #paginator
          = paginate @houses,remote: true