%p#notice= notice

%p
  %b Business statements:
  = @legal_person_check_list.business_statements
%p
  %b Personal statements:
  = @legal_person_check_list.personal_statements
%p
  %b Charter:
  = @legal_person_check_list.charter
%p
  %b Personal rfc:
  = @legal_person_check_list.personal_rfc
%p
  %b Business rfc:
  = @legal_person_check_list.business_rfc
%p
  %b Business finance registration:
  = @legal_person_check_list.business_finance_registration
%p
  %b Personal finance registration:
  = @legal_person_check_list.personal_finance_registration
%p
  %b Annual return:
  = @legal_person_check_list.annual_return
%p
  %b Financial statements:
  = @legal_person_check_list.financial_statements

= link_to 'Edit', edit_legal_person_check_list_path(@legal_person_check_list)
\|
= link_to 'Back', legal_person_check_lists_path
