= simple_form_for(@user) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :paternal_lastname
    = f.input :maternal_lastname
    = f.input :email
    = f.input :cellphone
    = f.input :gender, as: :select, collection: User.get_gender_dropdown

  .form-actions
    = f.button :submit
