.card.z-depth-3
  .card-content
    %span.card-title.black-text
      = @user.fullname
    %p
      %b Email:
      = @user.email
    %p
      %b Teléfono celular:
      = @user.cellphone
    %p
      %b Género:
      = @user.gender ? 'Hombre' : 'Mujer'
  .card-action
    = link_to 'Editar', edit_user_path(@user)
