.nested-fields
  = f.input :street
  = f.input :external_number
  = f.input :internal_number
  = f.input :colony
  = f.input :zip_code
  = link_to_remove_association "Remover direccion", f, {class: 'btn red darken-4'}