%tr
  %td= link_to salutation(client), client
  %td= client.birthdate
  %td= client.mail
  %td= client.notes
  %td= link_to 'Edit', edit_client_path(client), class: 'btn'
  %td= link_to 'Unprofile', nil, class: 'btn' # TODO, create method to change status
