
%table.table.striped
  %thead
    %tr
      %th= sortable "name"
      %th= sortable "birthdate"
      %th= sortable "mail"
      %th Notes
      %th
      %th

  %tbody

    - @clients.each do |client|
      %tr
        %td= link_to salutation(client), client
        %td= client.birthdate
        %td= client.mail
        %td= client.notes
        %td= link_to 'Edit', edit_client_path(client), class: 'btn'
        %td= link_to 'Unprofile', nil, class: 'btn'

= hidden_field_tag :direction, params[:direction]
= hidden_field_tag :sort, params[:sort]

%br
= paginate @clients
-  if @clients.empty?
  %p.flow-text
    No result found
