

.card
  .row
    .col-md-6
      %h3.table-title.p-20  Clients
    .col-md-6
      .table-search
        -#correct the on key up funtion focus
        = form_tag clients_path, method: 'get', id: "clients_search", remote: true, autocomplete: 'off', class: 'form-control' do
          = search_field_tag :search, params[:search], autofocus: true, onkeyup: 'keyUpFunction()',class: 'form-control',placeholder: 'Search'

  .table-responsive.white
    %table.table.table-full.table-full-small{"ng-table" => "tableParams", "template-pagination" => "assets/tpl/partials/data-table-pager.html"}
      %thead
        %tr
          %th= sortable "name"
          %th= sortable "birthdate"
          %th= sortable "mail"
          %th Notes
          %th
          %th

      %tbody

        - @clients.each do |client|
          %tr
            %td= link_to salutation(client), client
            %td= client.birthdate
            %td= client.mail
            %td= client.notes
            %td= link_to 'Edit', edit_client_path(client), class: 'btn'
            %td= link_to 'Unprofile', nil, class: 'btn'
    -#need to correct pagination
    -#and not found display
    = paginate @clients
    -  if @clients.empty?
      %p.flow-text
        No result found



    = hidden_field_tag :direction, params[:direction]
    = hidden_field_tag :sort, params[:sort]