%tr
  %td
    %i{class: "md #{status_helper(client)}"}
  %td= link_to name_decorator(client), client
  %td
    %i{class: "md #{has_dossier_helper(client)}"}
  %td
    = [client.main_phone.kind, client.main_phone.number].join(", ")
  %td= client.mail
  %td= client.interactions.size
  %td= client.appointments.size
  %td
    = link_to nil, class: 'btn btn-round-sm btn-link ng-scope' do
      %i{class: "md md-message"}
  %td
    = link_to edit_client_path(client), class: 'btn btn-round-sm btn-link ng-scope' do
      %i{class: "md md-mode-edit"}
