= simple_form_for(@client)  do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :paternal_lastname
    = f.input :maternal_lastname
    = f.input :gender, as: :select, collection: ApplicationHelper.get_gender_dropdown
    = f.input :curp
    = f.input :imss
    = f.input :marital_status, collection: Client::MARITAL_STATUS
    = f.input :spouse
    = f.input :birthdate,order: [:day,:month, :year]
    = f.input :mail
    = f.input :income
    = f.input :notes, input_html: {class: 'materialize-textarea'}
    = f.input :workplace
    #phones
      %b Telefonos
      =  f.simple_fields_for :phones do |phone|
        = render 'phone_fields', f: phone
      .links{style: 'display: inline;'}
        = link_to_add_association 'Agregar numero', f, :phones, class: 'btn'
    #addresses
      %b Direccion
      = f.simple_fields_for :addresses do |address|
        = render 'address_fields', f: address
      .links
        = link_to_add_association 'Agregar direccion', f, :addresses, class: 'btn'

  .form-actions
    = f.button :submit
