= simple_form_for((@client), html: {class: "form-floating ng-pristine ng-valid"}) do |f|
  = f.error_notification

  .row.m-b-40
    .well.white
      .general
        = f.input :name, wrapper: :material_input
        = f.input :paternal_lastname, wrapper: :material_input
        = f.input :maternal_lastname, wrapper: :material_input
        = f.input :gender, as: :radio_buttons, collection: [['Male', true],['Female', false]]
  = f.button :submit, class: 'btn btn-primary'
