

- @client.addresses.each_with_index  do |address, index|
  %b
    =  "Direccion #{index + 1}"
  %ul
    %li
      Calle:
      = address.street
    %li
      Colonia:
      = address.colony
    %li
      Numero interios:
      = address.internal_number
    %li
      Numero Exterior:
      = address.external_number
    %li
      Codigo postal:
      = address.zip_code