- @client.addresses.each_with_index  do |address, index|
  %b
    =  "Address numer #{index + 1}:"
  %ul
    %li
      Street:
      = address.street
    %li
      Colony:
      = address.colony
    %li
      Interior number:
      = address.internal_number
    %li
      Exterior number:
      = address.external_number
    %li
      Zip code:
      = address.zip_code
