%section
  .row.no-gutter
    %h2.grey-text
      %i.md.md-dashboard
      %span.hidden-xs
        Clientes
    #new_client{class: "pull-right"}
    = link_to(new_client_path, class: "btn btn-round-sm btn-link ng-scope") do
      %i.md.md-person-add
    #search_client{class: "pull-right"}
    = form_tag clients_path, method: 'GET', id: "clients_search", remote: true, autocomplete: 'off', class: 'form-group' do
      = search_field_tag :search, params[:search], autofocus: true, class: 'form-control', placeholder: 'Search', id: 'search_input'
  .table-responsive.white
    %table.table.table-full.table-full-small
      %thead
        %tr
          %th Estado
          %th= sortable "Name"
          %th Teléfono
          %th e-Mail
          %th
            %i{class: "md-repeat"}
          %th
            %i{class: "md-access-time"}
          %th
      %tbody#clients
        = render partial: 'clients', collection: @clients, as: :client
    #paginator
      = paginate @clients, remote: true
    - if @clients.empty?
      %p.flow-text No se obtuvieron resultados

= hidden_field_tag :direction, params[:direction]
= hidden_field_tag :sort, params[:sort]
