%section
  %h1 Clients
  .card.z-depth-3
    .row
      .col-md-6
        %h2
          = link_to 'New Client', new_client_path, class: 'btn waves-effect waves-light'
      .col-md-6
        .table-search
          = form_tag clients_path, method: 'GET', id: "clients_search", remote: true, autocomplete: 'off', class: 'form-control'   do
            = search_field_tag :search, params[:search], autofocus: true, class: 'form-control', placeholder: 'Search',id: 'serch_input',remote: true

    .table-responsive.white
      %table.table.table-full.table-full-small
        %thead
          %tr
            %th= sortable "name"
            %th Has dossier?
            %th Status
            %th Notes
            %th
            %th
        %tbody#clients
          = render partial: 'clients', collection: @clients, as: :client
      #paginator
        = paginate @clients,remote: true
      - if @clients.empty?
        %p.flow-text No result found

  = hidden_field_tag :direction, params[:direction]
  = hidden_field_tag :sort, params[:sort]
