%h1 Listing clients

%table.table
  %thead
    %tr
      %th= sortable "name"
      %th= sortable "curp"
      %th= sortable "imss"
      %th= sortable "spouse"
      %th= sortable "birthdate"
      %th= sortable "mail"
      %th Income
      %th Notes
      %th Workplace
      %th Current salesman
      %th
      %th
      %th

  %tbody
    - @clients.each do |client|
      %tr
        %td= client.fullname

        %td= client.curp
        %td= client.imss
        %td= client.spouse
        %td= client.birthdate
        %td= client.mail
        %td= client.income
        %td= client.notes
        %td= client.workplace
        %td= client.current_salesman_id
        %td= link_to 'Show', client
        %td= link_to 'Edit', edit_client_path(client)
        %td= link_to 'Destroy', client, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br
= paginate @clients
%br
= link_to 'New Client', new_client_path
