%h1 Listing clients
= form_tag clients_path, method: 'get', id: "clients_search",remote:true,autocomplete: 'off' do
  %p
    = text_field_tag :search, params[:search], onkeyup: 'keyUpFunction()'
    = button_tag "Search" ,action: :index ,type: 'submit',class: 'btn waves-effect waves-light',id: 'submit-search'
-##loading.progress{style: 'display: none;'}
-#  .indeterminate
#clients
  = render 'clients'

%br
= link_to 'New Client', new_client_path
