.card.z-depth-3
  .card-header
    %span.card-title
      = @client.fullname
  .card-content
    %p
      %b Spouse:
      = @client.spouse
    %p
      %b Birthdate:
      = @client.birthdate
    %p
      %b Mail:
      = @client.mail
    %p
      %b Notes:
      = @client.notes
    %p
      %b Current salesman:
      = @client.salesman.fullname
    %p
      = render 'show_phones'

  .card-action.clearfix
    = link_to 'New Interaction', new_interaction_path(client_id: @client.id),class: 'btn btn-link black-text'
    = link_to 'New Appointment', new_appointment_path(client_id: @client.id),class: 'btn btn-link black-text'
    = link_to 'Edit', edit_client_path(@client),class: 'btn btn-link black-text'
    -if(@client.dossier)
      = link_to 'Dossier', dossier_path(@client.dossier),class: 'btn btn-info ng-valid ng-dirty ng-valid-parse'
    -else
      = link_to 'Create Dossier', documentize_client_path(client_id: @client.id),class: 'btn btn-info ng-valid ng-dirty ng-valid-parse', method: :post


= render partial: 'interactions/interactions',locals:{interactions: @client.interactions}
