.card.z-depth-3
  .card-content
    %span.card-title.black-text
      =@client.fullname
    %p
      %b Spouse:
      = @client.spouse
    %p
      %b Birthdate:
      = @client.birthdate
    %p
      %b Mail:
      = @client.mail
    %p
      %b Notes:
      = @client.notes
    %p
      %b Current salesman:
      = @client.salesman.fullname
    %p
      = render 'show_phones'
    %p
      = render 'show_directions'
  .card-action
    %p Nueva visita => nueva interacción
    %a{:href => "#"} New visit
    = link_to 'Edit', edit_client_path(@client)
