%h1 Listing general_spouse_check_lists

%table
  %thead
    %tr
      %th Marriage certificate
      %th Ife
      %th Birth certificate
      %th
      %th
      %th

  %tbody
    - @general_spouse_check_lists.each do |general_spouse_check_list|
      %tr
        %td= general_spouse_check_list.marriage_certificate
        %td= general_spouse_check_list.ife
        %td= general_spouse_check_list.birth_certificate
        %td= link_to 'Show', general_spouse_check_list
        %td= link_to 'Edit', edit_general_spouse_check_list_path(general_spouse_check_list)
        %td= link_to 'Destroy', general_spouse_check_list, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New General spouse check list', new_general_spouse_check_list_path
