%p#notice= notice

%p
  %b Payroll statements:
  = @wage_check_list.payroll_statements
%p
  %b Payslips:
  = @wage_check_list.payslips
%p
  %b Labor letter:
  = @wage_check_list.labor_letter

= link_to 'Edit', edit_wage_check_list_path(@wage_check_list)
\|
= link_to 'Back', wage_check_lists_path
