= simple_form_for(resource, as: resource_name, url: session_path(resource_name), class: 'form-floating') do |f|
  .form-group
    = f.input :email, required: true, autofocus: true
  .form-group
    = f.input :password, required: true
  .form-group
    = f.input :remember_me, as: :boolean, wrapper: :checkbox if devise_mapping.rememberable?
  .card-action.clearfix
    .pull-right
      = f.submit "Log in", class: 'btn btn-link black-text'