= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-floating ng-pristine ng-valid'}) do |f|
  = f.input :email, required: true, wrapper: :material_input
  = f.input :password, required: true, wrapper: :material_input
  = f.input :remember_me, as: :boolean, wrapper: :checkbox if devise_mapping.rememberable?
  .card-action.clearfix
    .pull-right
      = f.submit "Log in", class: 'btn btn-link black-text'
