= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-floating'}) do |f|
  .form-group
    / # = f.label :email, class: 'control-label'
    = f.input :email, required: true, autofocus: true, input_html: {class: 'form-control'}
  .form-group
    = f.input :password, required: true, input_html: {class: 'form-control'}
  .form-group
    = f.input :remember_me, as: :boolean, wrapper: :checkbox if devise_mapping.rememberable?
  .card-action.clearfix
    .pull-right
      = f.submit "Log in", class: 'btn btn-link black-text'
