= simple_form_for(@negociation) do |f|
  = f.error_notification
  .form-inputs
    = f.input :client_id, as: :string, as: :hidden
    = f.association :house, as: :string, wrapper: :material_input, remote: true
    #house-info
    = f.input :final_price, wrapper: :material_input
    = f.input :months, wrapper: :material_input
    = f.input :due, wrapper: :material_date
    = f.input :signature_date, wrapper: :material_input
    = f.input :witness1, wrapper: :material_input
    = f.input :witness2, wrapper: :material_input
  .form-actions
    = f.button :submit, class: 'btn-primary btn'
