.card.ordered.z-depth-3
  .card-header
    %span.card-title
      =  "Appoitment with #{appointment.client.fullname}"
      %span.text-muted status
      %span{class: "text-#{appointment.status_color}"}=  appointment.status
  .card-content
    %p
      %b Salesman:
      = appointment.user.fullname
    %p
      %b Date:
      = appointment.date
    %p
      %b Time:
      = appointment.time.to_s :time
    %p
      %b Place:
      = appointment.place
  .card-action
    = link_to 'Finish', edit_appointment_path(appointment,client_id: appointment.client.id,complete: 'true'),class: 'btn' if appointment.previous?
    = link_to 'Cancel or Reschedule', edit_appointment_path(appointment,client_id: appointment.client.id,complete: 'false'),class: 'btn' if appointment.can_reshedule?
