= simple_form_for((@appointment), html: {class: "form-floating ng-pristine ng-valid"}) do |f|
  = f.error_notification

  .form-inputs
    = f.input :client_id, as: :hidden, input_html: { value: params[:client_id] }
    = f.input :date, label: false, as: :string, wrapper: :material_date, input_html: { "ng-model" => "date", placeholder: placeholder_decorator(@appointment, "Fecha") }
    = f.input :time, label: false, as: :string, wrapper: :material_time, input_html: { "ng-model" => "time", placeholder: placeholder_decorator(@appointment, "Hora") }
    = f.input :place, wrapper: :material_input
    -#= f.input :status, collection: Appointment::STATUS

  .form-actions
    = f.button :submit, class: 'btn-primary btn'
