= simple_form_for(@appointment) do |f|
  = f.error_notification

  .form-inputs
    = f.input :client_id, as: :hidden, input_html: { value: params[:client_id] }
    = f.input :date, input_html: { class: :datepicker }
    = f.input :time
    = f.input :place
    = f.input :status, collection: Appointment::STATUS

  .form-actions
    = f.button :submit
