%h1 My appointments
.row
  .col.s12
    = link_to 'Today', appointments_path( type_list: 'today'),class: 'col s3 btn waves-effect waves-light',remote: true
    = link_to 'upcoming', appointments_path(type_list: 'upcoming'),class: 'col s3 btn waves-effect waves-light',remote: true
    = link_to 'previous', appointments_path(type_list: 'previous'),class: 'col s3 btn waves-effect waves-light',remote: true
    = link_to 'All', appointments_path(type_list: 'all'),class: 'col s3 btn waves-effect waves-light',remote: true

#appointments
  = render 'appointments',appointments: @appointments
%br


