%h1 Listing appointments

%table
  %thead
    %tr
      %th Client
      %th User
      %th Date
      %th Notes
      %th Time
      %th Mood
      %th Interest
      %th
      %th
      %th

  %tbody
    - @appointments.each do |appointment|
      %tr
        %td= appointment.client
        %td= appointment.user
        %td= appointment.date
        %td= appointment.notes
        %td= appointment.time
        %td= appointment.mood
        %td= appointment.interest
        %td= link_to 'Show', appointment
        %td= link_to 'Edit', edit_appointment_path(appointment)
        %td= link_to 'Destroy', appointment, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Appointment', new_appointment_path
