
%p
  %b Client:
  = @appointment.client
%p
  %b User:
  = @appointment.user
%p
  %b Date:
  = @appointment.date
%p
  %b Time:
  = @appointment.time
%p
  %b Place:
  = @appointment.place

= link_to 'Edit', edit_appointment_path(@appointment)
\|
= link_to 'Back', appointments_path
