%aside.sidebar.fixed
  .brand-logo
    #logo
      = image_tag("logo-sw.png")
    SACC
  .user-logged-in
    .content
      .user-name
        = current_user.name
        %span.text-muted.f9 Role
      .user-email= current_user.email
      .user-actions
        = link_to 'settings', edit_user_path(current_user), class: 'm-r-5'
        = link_to 'Logout', destroy_user_session_path, method: :delete
  %ul
    =link_to root_path do
      %i{class: "md md-blur-on"}
      Dashboard
    =link_to clients_path do
      %i{class: "md md-accessibility"}
      Clients
    =link_to houses_path do
      %i{class: "md md-home"}
      Houses
    =link_to negociations_path do
      %i{class: "md md-attach-money"}
      Sales

